.table {
    box-shadow: 0 0 10px rgba(red, green, blue, alpha);
    border-collapse: collapse;
    font-family: 'Quicksand', sans-serif;
    overflow: hidden;
    font-weight: bold;
}

.table thead th {
    background: green;
    color: white;
}

.table td,

.table th {
    padding: 10px 20px;
}

.table tbody tr:nth-of-type(even) {
    background:white;
}


.table tbody tr:last-of-type {
    border-bottom: 2x solid green;

}